.canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  :global(html.theme-dark) & {
    -webkit-mask: top right;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: 510px auto;
    -webkit-mask-image: url('../../../assets/chat-bg-pattern-light.png');
  }
}
