.menuContent {
  --offset-y: 16rem !important;
  --border-radius-default: 1.25rem;

  padding: 0 !important;
  left: 1rem !important;
  width: 100%;
  max-width: calc(var(--symbol-menu-width) + var(--scrollbar-width));
  height: var(--symbol-menu-height);

  :global(body:not(.no-menu-blur)) & {
    --color-background: var(--color-background-compact-menu);

    backdrop-filter: blur(25px);
  }

  @media (max-width: 26rem) {
    left: 0.5rem !important;
    right: 0.5rem !important;
    width: calc(100vw - 1rem);
  }

  :global(.sticker-set-cover), :global(.custom-emoji) {
    color: var(--color-primary);
  }
}

.folderPickerHeader {
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: start !important;
  padding-left: 0.5rem;
}

.folderIcon {
  color: var(--color-text-secondary);
}
